* {
    margin: 0;
    padding: 0;
    --primary: #f9e6f0;
    --gray: #79819a;
    --light-gray: #f7f9fc;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
}
a:focus {
    outline: none;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--light-gray);
}
@media screen and (max-width: 1000px) {
    .navbar {
        display: none;
    }
}
.navbar .navbar__logo {
    height: 3rem;
    width: 3rem;
    justify-self: flex-start;
}
.navbar .navbar__linkBlock {
}
.navbar .navbar__link {
    margin: 0.5rem;
    text-decoration: none;
    color: black;
}
.navbar .navbar__link:hover {
    text-decoration: underline;
}
.navbar .navbar__link:focus {
    outline: none;
}
.sectionBio {
    background-color: var(--primary);
}
.sectionBio article {
    max-width: 800px;
    min-height: 400px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
@media screen and (max-width: 1000px) {
    .sectionBio article {
        flex-direction: column;
    }
}
.sectionBio .sectionBio__img {
    width: 10rem;
    height: 10rem;
    margin: auto;
    margin-bottom: 1rem;
    object-fit: cover;
}
.sectionBio .sectionBio__profile {
    min-width: 30%;
    margin: 2rem;
}
.sectionBio .sectionBio__name {
    margin-bottom: 0.5rem;
}
.sectionBio .sectionBio__description {
    margin: 2rem;
}
.sectionWork {
    max-width: 1000px;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.sectionWork .sectionWork__title {
    margin-bottom: 2rem;
}
.sectionWork .sectionWork__eltContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.workElt {
    max-width: 18rem;
    margin: 1rem;
    background-color: var(--light-gray);
}
@media screen and (max-width: 1000px) {
    .workElt {
        width: 90%;
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}
.workElt .workElt__img {
    width: 100%;
    height: 10rem;
    object-fit: scale-down;
}
.workElt .workElt__content {
    padding: 2rem;
}
.workElt .workElt__title {
    margin-bottom: 0.5rem;
}
.workElt .workElt__description {
    margin-bottom: 1.5rem;
}
.workElt .workElt__link {
    margin-bottom: 1rem;
}
.sectionTools {
    background-color: var(--primary);
}
.sectionTools .sectionTools__container {
    max-width: 1000px;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sectionTools article {
    margin: 0.5rem;
    background-color: var(--light-gray);
    width: 100px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
.sectionTools .sectionTools__img {
    height: 5rem;
    width: 5rem;
    object-fit: scale-down;
    margin: auto;
}
.sectionTools .sectionTools__title {
}

.sectionContact {
    width: 100%;
    min-height: 20rem;
}
.sectionContact .sectionContact__container {
    display: flex;
    max-width: 1000px;
    height: 100%;
    margin: auto;
    flex-direction: row;
    align-items: center;
}
@media screen and (max-width: 1000px) {
    .sectionContact .sectionContact__container {
        flex-direction: column;
    }
}

.sectionContact .sectionContact__text {
    margin: 2rem;
    height: 10rem;
    background-color: var(--primary);
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sectionContact .sectionContact__text--title {
    margin-bottom: 2rem;
}
.sectionContact .sectionContact__form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
@media screen and (max-width: 1000px) {
    .sectionContact .sectionContact__form {
        flex-direction: column;
    }
}
.sectionContact .sectionContact__form--col {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}
.sectionContact__form .sectionContact__form-input {
    height: 1.5rem;
    display: block;
    margin-bottom: 1rem;
    padding: 0.25rem;
    border: none;
    box-shadow: inset 0 0 4px 1px rgba(0, 0, 0, 0.3);
    border-radius: 0.25rem;
}
.sectionContact__form .sectionContact__form-input:focus {
    outline: none;
}
.sectionContact__form .sectionContact__form-input--area {
    display: block;
    height: unset;
    margin-bottom: 1rem;
}
.sectionContact__form .sectionContact__form-inputLabel {
    color: var(--gray);
    font-size: small;
}

.sectionContact__form .sectionContact__form-submitButton {
    align-self: flex-end;
    /* width: 4rem; */
    padding: 1rem;
    border-radius: 0.25rem;
    border: none;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
}
.sectionContact__form .sectionContact__form-submitButton:active {
    box-shadow: inset 0 0 4px 1px rgba(0, 0, 0, 0.3);
}
.sectionContact__form .sectionContact__form-submitButton:focus {
    outline: none;
}

footer {
    height: 5rem;
    background-color: var(--light-gray);
    margin-top: 1rem;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
